.page-error {
  width: 60%;
  height: 50vh;
  display: flex;
  padding: 32px;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
