:root {
  --fallback-color: #16222a;
  --gradient-color: #3a6073;
}

.employee__main {
  /* Remember to use the other versions for IE 10 and older browsers! */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "lato", sans-serif;
  color: #000;
  background: #222222;
  background: var(--fallback-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    var(--fallback-color),
    var(--gradient-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    var(--fallback-color),
    var(--gradient-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.employee__container {
  background: rgba(58, 63, 68, 0.5);
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employee__form {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.employee__field {
  margin: 1rem;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

input.employee__field_input {
  height: 3rem;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.employee__button {
  background-color: #00b9bc;
  color: var(--off-white);
  font-weight: bold;
  text-transform: uppercase;
}
.employee__button :hover {
  background-color: #197071;
}